.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FirstRow {
  display: flex;
}
.SecondRow {
  display: flex;
}
.ThirdRow {
  display: flex;
  text-align: center;
}
.Block {
  border-bottom: 10px solid red;
  border-right: 10px solid red;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.ThirdRow .Block {
  border-bottom: none;
}
.Main .Third {
  border-right: none;
}
.Winner{
  margin-top: 20px;
  font-size: 30px;
  color: green;
}
.Button{
  margin-top: 20px;
  font-size: 20px;
  padding: 5px 15px;
  color: white;
  background-color: rgb(28, 58, 230);
  border-radius: 10px;

}